

<body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="btn btn-outline-light me-2" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light" routerLink="/register">Register</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- Main Section -->
    <div class="container my-5">
      <h1 class="text-center mb-4">Author Registration</h1>
      
      <div id="booksSection" class="row">
      
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="">Username</label>
            <input class="form-control form-control-lg" formControlName="name" type="text" placeholder="Username" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input class="form-control form-control-lg" formControlName="email" type="text" placeholder="Email" autocomplete="off">
          </div>
          <div class="form-group text-danger" *ngIf="emailError">
            <label>{{emailError}}</label>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input class="form-control form-control-lg" formControlName="password" type="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="">Confirm Password</label>
            <input class="form-control form-control-lg" formControlName="password_confirmation" type="password" placeholder="Confirm Password">
          </div>
          <div class="form-group text-danger" *ngIf="passwordError">
            <label>{{passwordError}}</label>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!registrationForm.valid || submit">Sign up </button>
        </form>
      </div>
    </div>
  

    <footer class="bg-dark text-white text-center py-3">
      <p>&copy; 2024 Book Store. All rights reserved.</p>
    </footer>
  </body>
   
  